<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>434138607232-irh42kohtkvu0l26aat19vp67bbna393.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434138607232-irh42kohtkvu0l26aat19vp67bbna393</string>
	<key>API_KEY</key>
	<string>AIzaSyA1Jck0yDsms9oCuNNijdIe7Y47VlDtJrw</string>
	<key>GCM_SENDER_ID</key>
	<string>434138607232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CountableUSDemo</string>
	<key>PROJECT_ID</key>
	<string>countable-segment-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>countable-segment-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434138607232:ios:8ef2cb07ad5638fb</string>
	<key>DATABASE_URL</key>
	<string>https://countable-segment-demo.firebaseio.com</string>
</dict>
</plist>